<div id='singleBlog'>


  Title: <%= @blog.title %> <br>
  Date: <%= @blog.date %> <br>
  Content: <%=  @blog.content %>
</div>

<% if current_user %>
  <%= link_to "edit", edit_blog_path(@blog) %>
<% end %>

<% if current_user %>
  <%= button_to "Delete", delete_blog_path(@blog), method: :delete %>
<% end %>
