
<% @articles.each do |article| %>

  <div class="article_container">
    <h3 class="title"><%= article.title %></h3> <br>
    <img class="andy_pohl" src="https://plus.google.com/u/0/_/focus/photos/private/AIbEiAIAAABECM-K5_zd2OXv7gEiC3ZjYXJkX3Bob3RvKig1ZDMzMjhkZWNiMGQxZDNhYmYzZDQ5OTBiMDkyNWUzODRkNWM2YTE1MAGYUy_TMaixt1Kgk7Tx2SJ0CcQ63A?sz=96">
    <h4 class="author">Author: <%= article.author %></h4> <br>
    <h4 class="content"><%= article.content %></h4>
    <%= button_to "Delete", article, method: :delete %>
    <%= button_to "Edit", edit_article_path(article), method: :get %>
  </div><br>

<% end %>