<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Blog Land</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/articles/new">Add New</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Register<span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<!-- End of Navigation -->

<!-- Containter -->
<div class="container">
	<div>
	    <h3>Title: <%= @article.title %> <br></h3>
	    <h4>Author: <%=  @article.author %> <br></h4>
	    <p>Content: <%= @article.content %> </p>
	</div>
  <%= link_to "EDIT ARTICLE", edit_article_path( @article) %>

  <div>
    <% @keywordResults %>
    <h3>Keyword Analysis</h3>
  </div>

  <div>
    <% @keywordResults.each do |keyword| %>
    <h5 class="keyword">Keyword : <%= keyword["text"] %></h5>
    <h5 class="relevance">Relevance: <%= keyword["relevance"] %></h5>
    <% end %>
  </div>
</div>

